* {  
    margin: 0;  
    padding: 0;  
    font-family: 'Poppins', sans-serif;  
    box-sizing: border-box;  
}
:root {
    --primary-color: #2A52BE;
    --primary-dark: #1d3885;
    --secondary-color: #333;
    --text-light: #f9f9f9;
    --text-dark: #333;
    --background-light: #fff;
    --background-dark: #f5f5f5;
    --accent-color: #007fff;
    --transition: all 0.3s ease;
}

#body{
    background-image: url("../assets/loginBackground.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    isolation: isolate;
}
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
#mainMenuButton{
    margin-top: 20px;
}
#mainMenuButton a{
    background-color: #007bff;
    border: none;
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
#mainMenuButton a:hover{
    background-color: #0056b3;
}
.registerButton a{
    text-decoration: none;
}
.registerButton{
    margin-bottom: 20px;
}
input{
    width: 100%;
    border: none;
    outline: none;
    background: var(--background-light);
    padding: 15px;
    margin-bottom: 20px;
    color: var(--text-dark);
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: var(--transition);
    border: 1px solid transparent;
}